/* Hurdle landing page Css Codes by Adedayo Agboola */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-weight: 300;
}

a {
  text-decoration: none;
  color: red;
}

body {
  font-family: "Poppins", sans-serif;
  background: #333;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.herosection {
  display: flex;
  background-image: url(/images/bg-hero-desktop.svg);
  flex-direction: column;
  background-color: #ff7f7f;
  background-size: cover;
  background-position: center;
}

.hero {
  display: flex;
  flex-direction: row;
}

.hero .herocontent {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero .heroimage {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.submitBtn {
  cursor: pointer;
  font-weight: 600;
  position: relative;
  padding: 15px;
  outline: none;
  border: 0;
  border-radius: 10px;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}

.detailsection {
  margin: 65px 0;
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.huddlecontent,
.huddleimage {
  width: 50%;
}

.container {
  display: flex;
  flex-direction: column;
  background: #ff7f7f;
  padding: 3em;
}

.regform {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;
}

.regform.content {
  width: 100%;
}

.content h1 {
  color: #fff;
  font-size: 35px;
  line-height: 42px;
  font-weight: 700;
  margin-bottom: 25px;
}

.content p {
  color: #fff;
  font-size: 13px;
}

.regform.form {
  width: 100%;
}

form {
  background: #fff;
  padding: 1.5em;
  border-radius: 6px;
  margin-top: 10px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

h3.freetry {
  border: 1px solid #1877f2;
  border-radius: 6px;
  padding: 10px;
  background: #1877f2;
  font-size: 13px;
  text-align: center;
  color: #fff;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.submitBtn:focus {
  border: 1px solid #bbb;
  font-weight: 600;
  letter-spacing: 0.5px;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}

@media (max-width: 525px) {
  .container {
    background-image: url("images/bg-intro-mobile.png");
    flex-direction: column;
  }

  form input {
    padding: 0.5em;
    margin-bottom: 0.75em;
    font-weight: 400;
    font-size: 65%;
  }

  .submitBtn {
    font-size: 65%;
  }
}