/* Hurdle landing page Css Codes by Adedayo Agboola */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: ;
}

h1,
h2,
h3 {
  font-weight: 300;
}

a {
  text-decoration: none;
  color: red;
}

body {
  font-family: "Poppins", sans-serif;
  background: #333;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-size: 15px;
}


.container {
  padding: 65px;
}

.herosection {
  display: flex;
  background-image: url(/images/bg-hero-desktop.svg);
  flex-direction: column;
  background-color: #E6F9FF;
  background-size: cover;
  background-position: center;
}

.hero {
  display: flex;
  flex-direction: row;
  margin: 0 0 60px;
}

.logo {
  width: 50%;
}

.logo img {
width: 30%;
}

.hsbutton {
  width: 50%;
}

.hsbutton button{
  float: right;
  background: #fff;
}

.submitBtn {
  font-size: 80%;
  cursor: pointer;
  font-weight: 600;
  position: relative;
  padding: 15px 35px;
  outline: none;
  border: 0;
  border-radius: 30px;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}

.hero .herocontent {
  width: 50%;
    padding-right: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero .heroimage {
  padding-left: 65px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.herocontent h1 {
  font-size: 35px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 45px;
    margin-bottom: 20px;
}

.herocontent p {
    margin-bottom: 30px;
}

.herocontent button{
  background: #FF51C0;
  color: #fff;
  font-size: 85%;
  width: 50%;
}


.detailsection {
  padding: 65px;
  margin: 65px 0;
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.huddlecontent,
.huddleimage {
  width: 50%;
}

.huddleimage {

}



